<launch>
    <rosparam command="load" file="$(find lviorf)/config/lidar_preprocess/input_lidar_set.yaml" />
    <!-- 启动融合节点 -->
    <node pkg="lviorf" type="lidar_fusion_node" name="lidar_fusion_node" output="screen"/>

    <!-- 雷达坐标系定义（需要根据实际安装位置修改参数） -->
    <!-- 后左雷达 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_back_left_tf"
          args="-7.23635619 1.0377513 1.91371889 -0.02002174 0.00128006 0.96825324 0.2491649 base_link lidar1"/>
    
    <!-- 后上雷达 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_back_up_tf"
          args="-7.19333273 -0.02315836 1.93911872 0.53487951 -0.4658788 0.50148365 0.49535341 base_link lidar2"/>
    
    <!-- 前右雷达 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_front_right_tf"
          args="7.1574 -1.44 1.9095 0.00790578 -0.0086239 -0.19297626 0.98113368 base_link lidar3"/>
    
    <!-- 前上雷达
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_front_up_tf"
          args="7.04935075 1.54129612 1.98761539 -0.48828324 -0.51029573 -0.47128151 0.52827217 base_link lidar4"/> -->

 
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="rslidar_tf_publisher"
        args="0 0 0 0 0 0 base_link rslidar" />

    <arg name="use_rviz" default="false"/>  
    <arg name="rviz_config" default="$(find lviorf)/config/lidar_preprocess/my_config.rviz"/>
    <!-- 可选Rviz启动 -->
    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" 
              args="-d $(arg rviz_config)" 
              required="true"/>
    </group>
</launch>