<launch>

    <arg name="project" default="lviorf"/>


    <!-- base_link 2 rslidar_front -->
     <!-- 前右雷达 -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_front_right_tf"
          args="7.1574 -1.44 1.9095 0.00790578 -0.0086239 -0.19297626 0.98113368 base_link rslidar"/> -->
    
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_2_odom_tf"
        args="0 0 0 0 0 0 0 map odom"/> -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_back_left_tf"
          args="-7.23635619 1.0377513 1.91371889 -0.02002174 0.00128006 0.96825324 0.2491649 base_link lidar1"/>

    <!-- 前右雷达 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_front_right_tf"
          args="7.1574 -1.44 1.9095 0.00790578 -0.0086239 -0.19297626 0.98113368 base_link lidar2"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="map_2_odom_tf"
          args="0 0 0 0 0 0 1 map odom"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="gnss_antena_2_lidar_front_right_tf"
          args="-14.851 0.491 0 0 0 0 1 lidar2 gnss_antena"/>

    <!-- <node name="republish" type="republish" pkg="image_transport" 
      args="compressed in:=/m_gmsl_1/image_compressed raw out:=/camera/image_raw" /> -->

    
    <!-- Lidar odometry param -->
    <rosparam file="$(find lviorf)/config/pinhole/xiamen_params_lidar.yaml" command="load" />
    
    <!-- VINS config -->
    <param name="vins_config_file" type="string" value="$(find lviorf)/config/pinhole/xiamen_params_camera.yaml" />




    <!--- lidar_fusion -->
    <!-- <include file="$(find lviorf)/launch/lidar_fusion.launch" /> -->

    <!-- <rosparam command="load" file="$(find lviorf)/config/vlp_gps.yaml" /> -->

    <!-- <include file="$(find lviorf)/launch/gnss_odom_calibrator.launch" /> -->

    <!--- LOAM -->
    <include file="$(find lviorf)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lviorf)/launch/include/module_robot_state_publisher.launch" />

    <include file="$(find lviorf)/launch/include/module_rviz.launch" />

    
    <!-- <node pkg="lviorf" type="global_fusion_node" name="global_fusion_node" output="screen">
        <param name="fusion_initial_GPS_latitude" value="49.049500" />
        <param name="fusion_initial_GPS_longitude" value="8.396601" />
        <param name="fusion_initial_GPS_altitude" value="113.057571" />
    </node> -->
</launch>